body {
    background-image: url(fondco.png);
    font-family: sans-serif; 
    letter-spacing: 1px; 
    margin: 0;
    
}


#echec 
{
    padding-left: 10px; 
    padding-right: 10px; 
    background-color: whitesmoke;
    border: solid 2px darkcyan;
    text-align: center;
    margin-right: 300px;
    margin-left: 300px; 
    padding-bottom: 10px; 
    padding-top: 10px; 
    margin-bottom: 10px; 
   
}
#echec2
{
     font-size: 14px; 
     background-color: whitesmoke;
    border: solid 2px darkcyan;
    text-align: center;
margin-right: 550px; 
    margin-top: 100px; 
   margin-left: 550px; 
    margin-bottom: 30px; 
     padding-bottom: 10px; 
    padding-top: 10px; 
     padding-left: 10px; 
    padding-right: 10px;  
}
#echec1
{
    font-size: 14px; 
     background-color: whitesmoke;
    border: solid 2px darkcyan;
    text-align: center;
margin-right: 30px; 
    margin-top: 50px; 
   margin-left: 1100px; 
     padding-bottom: 10px; 
    padding-top: 10px; 
     padding-left: 10px; 
    padding-right: 10px; 
}

#pseudo {
    
    float align-content: center;
}

#password {
    
    float align-content: center;
}

#bouton {
     float align-content: center;   
}

#connexion 
{
    font-size: 20px;
    margin-top: 10px;
float: right; 
width: 700px;
}

#inscription 
{
    
    margin-top: 50px;
     margin-left: 500px;  
    margin-right: 500px; 
    margin-bottom: 50px;
    background-color: cadetblue; 
    padding-left: 30px; 
    padding-right: 30px; 
    padding-bottom: 50px; 
    padding-top: 30px;
       
    border: solid darkcyan; 
     
   
    
}


#inscr
{
    float: right;
}
#haut
{
    top: 0px;
    background-color: white;
    height: 50px;
     
}
#logo
{
    float: left;
    margin-left: 20px;
margin-top: 4px;    
}

#bienvenue
{
    float: right; 
    margin-right: 30px;
    font-size: 30px;
    line-height: 50px; 
    color: darkcyan; 
    font-family:sans-serif;
    letter-spacing: 2px; 
    
}

footer 
{
    padding-top: 20px;
    letter-spacing: 3px;
    font-size: 13px;
    text-align: center;
    padding-bottom: 20px; 
background-color: white
}