body {
    background-image: url(fondco.png);
    font-family: sans-serif; 
    letter-spacing: 1px; 
    margin: 0;
    
}



#pseudo {
    
    float align-content: center;
}

#password {
    
    float align-content: center;
}

#bouton {
     float align-content: center;   
}

#connexion 
{
    font-size: 20px;
    margin-top: 10px;
float: right; 
width: 650px;
}

#inscription 
{
    
    margin-top: 140px;
     margin-left: 500px;  
    margin-right: 500px; 
    margin-bottom: 100px;
    background-color: cadetblue; 
    padding-left: 30px; 
    padding-right: 30px; 
    padding-bottom: 50px; 
    padding-top: 30px;
       
    border: solid darkcyan; 
     
   
    
}

#echec 
{
    background-color: whitesmoke;
    border: solid 2px darkcyan;
    text-align: center;
    margin-left: 550px; 
    margin-right: 550px;
     padding-bottom: 30px; 
    padding-top: 30px;
    margin-bottom: 75px;
}

#inscr
{
    float: right;
}
#haut
{
    top: 0px;
    background-color: white;
    height: 50px;
     
}
#logo
{
    float: left;
    margin-left: 20px;
margin-top: 4px;    
}

#bienvenue
{
    float: right; 
    margin-right: 30px;
    font-size: 30px;
    line-height: 50px; 
    color: darkcyan; 
    font-family:sans-serif;
    letter-spacing: 2px; 
    
}

footer 
{
    padding-top: 20px;
    letter-spacing: 3px;
    font-size: 13px;
    text-align: center;
    padding-bottom: 20px; 
background-color: white
}