
#monprofil 
{
    position: relative;
    margin-left: 220px;
}
#infosperso 
{
    
    margin-left: 200px; 
    width: 400px;
    
}

#imgperso
{
    float: left;
    width: 150px; 
    height: 150px; 
    
}

#exp
{
    
}

#ajouter 
{
    position: fixed; 
    bottom: 40px;
  text-align: center; 
    padding-top: 30px; 
    margin-left: 875px; 
    margin-right: 30px;  
   background-color: lightblue; 
    padding-bottom: 30px; 
    border: solid 1px darkcyan; 
}

#contenuf
{
    padding-top: 20px; 
    padding-left: 20px
    height: 150px; 
    overflow:auto; 
    background-color: whitesmoke; 
}
#nom  
{
    font-size: 20px; 
}


#contenue
{
     padding-top: 20px; 
    padding-left: 20px
    height: 150px; 
    overflow: auto; 
    background-color: whitesmoke;
}
