body {
    background-color: powderblue;
}
#boutons
{
    background-color: lightsteelblue;
					height:100%;
					width: 200px;
                float : left;
    
}

#boutonaccueil
{
    height: 200px;
}