
body 
{
    background-image: url("242.jpg");
    width: 100%; 
    font-family: sans-serif; 
    letter-spacing: 1px; 
    color: darkblue; 
    
}

/**STYLE DE BOUTONS **/

footer 
{
    bottom: 0px; 
    position: absolute; 
    font-size: 10px;
    margin-left: 200px; 
    left: 0px;
    text-align: center; 
    width: 100%; 
}

a:link
{
    text-decoration: none; 
    text-decoration-color: darkblue; 
    color: darkblue; 
}
    
#boutons
{
    z-index: 1; 
    background-color: lightsteelblue;
    height:850px;
    width: 200px;
    float : left;
    text-align: center;
    left: 0px;   
    position: absolute;
    top: 0px; 
    height: 100%; 
}

#boutondeco
{
    background-color: white;
    color: cadetblue;
    width: 150px;
    height: 40px; 
    text-align: center; 
    margin-left: 20px;  
    font-family:sans-serif; 
    letter-spacing: 1px; 
    line-height: 40px;
    text-decoration: none; 
    margin-top: 260px;
}

#boutonpartage
{
    background-color: white;
    text-align: center; 
    font-family:sans-serif; 
    letter-spacing: 1px; 
    border: solid 3px lightsteelblue;
    margin-right: 150px;
}

#boutonaccueil
{
    height: 200px;
}

#bouton
{

    background-color: white;
    color: cadetblue;
    width: 150px;
    height: 40px; 
    text-align: center; 
    margin-left: 20px; 
    margin-top: 30px; 
    font-family:sans-serif; 
    letter-spacing: 1px; 
    line-height: 40px;
    text-decoration: none; 
}
